* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.App > * {
  margin: 2% 0%;
}

.Search_container {
  width: 100%;
  text-align: center;
  margin: 5% 0%;
}

.Food_container,.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2%;
}

.Food_container{
  width: 29%;
}

.Food_container img,h1 {
  width: 100%;
}

.Food_container > * {
  width: 100%;
  text-align: center;
}